body {
    background: #0d0d0d;
    color: #ffffff;
    font-family: "Segoe UI", Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background: #1a1a1a;
    padding: 40px;
    border-radius: 16px;
    width: 450px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.45);
    text-align: center;
}

h1 {
    margin-bottom: 25px;
    font-size: 26px;
    font-weight: 600;
}

.upload-label {
    background: #333;
    padding: 12px 20px;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 20px;
}

.upload-label input {
    display: none;
}

/* PREVIEW BOX */
.preview-box {
    width: 320px;
    height: 320px;
    background: #111;
    border: 2px solid #444;
    border-radius: 12px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

#preview {
    width: 100%;
    height: 100%;
    display: none;
    object-fit: cover;
    border-radius: 12px;
}

#preview-text {
    color: #ccc;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* BUTTON */
.predict-btn {
    background: #1565ff;
    padding: 12px 28px;
    margin-top: 25px;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}

.predict-btn:hover {
    background: #3a7bff;
}

/* RESULT TEXT */
#result {
    margin-top: 25px;
    font-size: 20px;
    font-weight: bold;
}

.success {
    color: #41ff88;
}

.error {
    color: #ff4b4b;
}
